@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
    background-color:black;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 120pt;

    text-align: center;

    user-select: none;
   color:rgb(74, 214, 214)
}

#music{
    width:120px;
    height: 120px;
}
footer {
    
    position: absolute;
    bottom: 10px;
    left: 750px;
    font-size: 15px;
    color:gray
    
  }


  @media only screen and (max-width: 767px) {
    #text1,
    #text2 {
        
    
        
        font-size: 30pt;
    
       
    }
    
  }
  